{% extends "base.html" %}
{% load static %}

{# Full-width hero overrides base.html's block #}
{% block hero %}
<section class="container-fluid px-0">
  <div class="masthead">
    <div class="masthead-image">
      {# use default; swap to a field if you add one later #}
      <img class="masthead-photo" src="{% static 'img/default.jpg' %}" alt="">
    </div>
    <div class="masthead-text">
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <p class="card-text">{{ post.content|safe }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
